 <footer>
            <div class="footer" id="contact">
                <h1>Restaurant Le Grognon</h1>


                <div class="copyright">Copyright © 2019. Tous droits réservés.</div>
                <div class="text-center">
                <p>Conatct: 07-89-76-57</p>
                <p>Email: restaurant@grognon.com</p>
                </div>
			</div>
        </footer>